In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Machine Learning\\inttable.csv')
df

   roll    id  marks  percent  socialuse
0     1  1001     12       10          5
1     2  1002     88       88          1
2     3  1003     44       44          3
3     4  1004     55       55          5
4     5  1005     12       11          9
5     6  1006     99       99          3
6     7  1007     55       66          4
7     8  1008     10       10         12
8     9  1009     78       78          3
9    10  1010     78       78          3

In [5]:
gr1=df.groupby(by='marks')
gr1

In [6]:
gr1.groups

{10: Int64Index([7], dtype='int64'),
 12: Int64Index([0, 4], dtype='int64'),
 44: Int64Index([2], dtype='int64'),
 55: Int64Index([3, 6], dtype='int64'),
 78: Int64Index([8, 9], dtype='int64'),
 88: Int64Index([1], dtype='int64'),
 99: Int64Index([5], dtype='int64')}

In [8]:
gr1=df.groupby(['marks','percent']).groups
gr1

{(10, 10): Int64Index([7], dtype='int64'),
 (12, 10): Int64Index([0], dtype='int64'),
 (12, 11): Int64Index([4], dtype='int64'),
 (44, 44): Int64Index([2], dtype='int64'),
 (55, 55): Int64Index([3], dtype='int64'),
 (55, 66): Int64Index([6], dtype='int64'),
 (78, 78): Int64Index([8, 9], dtype='int64'),
 (88, 88): Int64Index([1], dtype='int64'),
 (99, 99): Int64Index([5], dtype='int64')}

In [9]:
for g in gr1:
    print(g)

(10, 10)
(12, 10)
(12, 11)
(44, 44)
(55, 55)
(55, 66)
(78, 78)
(88, 88)
(99, 99)

In [11]:
list(gr1)

[(10, 10),
 (12, 10),
 (12, 11),
 (44, 44),
 (55, 55),
 (55, 66),
 (78, 78),
 (88, 88),
 (99, 99)]

# - Group by marks which is equal to 78

In [19]:
gr3=df.groupby('marks').get_group(78)
gr3

   roll    id  marks  percent  socialuse
8     9  1009     78       78          3
9    10  1010     78       78          3

# - Sum of grouped elements

In [18]:
gr3.sum()

roll           19
id           2019
marks         156
percent       156
socialuse       6
dtype: int64