In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df1

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
df2=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
df2

    A   B
0  10  40
1  20  50
2  30  60

In [5]:
display(df1,df2)

   A  B
0  1  4
1  2  5
2  3  6

    A   B
0  10  40
1  20  50
2  30  60

# append() : Use to merge row of 2nd dataframe at the end of 1st dataframe

In [8]:
df1.append(df2)

    A   B
0   1   4
1   2   5
2   3   6
0  10  40
1  20  50
2  30  60

# In above output index is not in sequence then we have to do like these :

In [9]:
df1.append(df2,ignore_index=True)

    A   B
0   1   4
1   2   5
2   3   6
3  10  40
4  20  50
5  30  60

# For sorting the obtained result

In [10]:
df1.append(df2,ignore_index=True,sort=True)

    A   B
0   1   4
1   2   5
2   3   6
3  10  40
4  20  50
5  30  60