# Pandas Dataframe

In [1]:
import pandas as pd

# How to create Pandas Dataframe

In [22]:
#Empty dataframe
empt_df=pd.DataFrame()
print(empt_df)

Empty DataFrame
Columns: []
Index: []

In [6]:
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [7]:
#dataframe from list
df1=pd.DataFrame(lst)

In [8]:
df1

   0
0  a
1  b
2  c

In [9]:
lst2=[[1,2,3],[3,4,5],[7,8,9]]
print(lst2)

[[1, 2, 3], [3, 4, 5], [7, 8, 9]]

In [11]:
df2=pd.DataFrame(lst2)
df2

   0  1  2
0  1  2  3
1  3  4  5
2  7  8  9

In [12]:
dict1={"ID":[11,22,33,44]}
print(dict1)

{'ID': [11, 22, 33, 44]}

In [23]:
#dataframe from Dictionary
df3=pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [14]:
dict2={"ID":[11,22,33,44],"ID2":[44,55,66,88]}
print(dict2)

{'ID': [11, 22, 33, 44], 'ID2': [44, 55, 66, 88]}

In [15]:
df4=pd.DataFrame(dict2)
df4

   ID  ID2
0  11   44
1  22   55
2  33   66
3  44   88

In [16]:
#list of dictionary
ls_of_dict=[{'a':1,'b':2},{'a':3,'b':4},{'a':5,'b':6}]
df5=pd.DataFrame(ls_of_dict)
df5

   a  b
0  1  2
1  3  4
2  5  6

In [17]:
ls_of_dict2=[{'a':1,'b':2},{'a':3,'b':4},{'a':5}]
df6=pd.DataFrame(ls_of_dict2)
df6

   a    b
0  1  2.0
1  3  4.0
2  5  NaN

In [21]:
#dictionary od list
dict_of_list={'ID':pd.Series([1,2,3,4]),'SN':pd.Series([3,4,5,6])}
df7=pd.DataFrame(dict_of_list)
df7

   ID  SN
0   1   3
1   2   4
2   3   5
3   4   6